<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title> {% block title %} Simpléduc - Gestion des projets {% endblock %}</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="favicon.ico" />
        {% block style %} {% endblock %}
    </head>    
    <body class="bg-light">
        {% block body %}
         
        <nav class="navbar navbar-inverse navbar-default navbarnavbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
             <a class="navbar-brand" href="#">
               <img alt="Brand" src="images/logo.png" class="img-circle" />
             </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="index.php">Accueil</a></li>
              {%if session.login is defined %}
                {%if session.role == 1 %}
                <li class="dropdown">
                 <a class="dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
                 <ul class="dropdown-menu">
                     <li>Utilisateurs</li>
                     <li><a class="dropdown-item" href="index.php?page=utilisateur">Gestion des utilisateurs</a></li>
                     <li role="separator" class="divider"></li>
                     <li>Equipes</li>
                     <li><a class="dropdown-item" href="index.php?page=equipe">Gestion des équipes</a></li>
                 </ul>
                </li>
                {% endif %}
              {% endif %}
              <li><a href="index.php?page=apropos">À propos</a></li>
              <li><a href="index.php?page=mentions">Mentions légales</a></li>
              {%if session.login is defined %}
                <li><a href="index.php?page=deconnexion">Se déconnecter</a></li>
              {% endif %}
              {%if session.login is defined %}
                <li><a href="#">{{session.login}}</a></li>
              {% endif %}
            </ul>
          
        </div><!--/.nav-collapse -->
      </div>
    </nav>
        
                <div class="row" >
                    <div class="center-block col-md-10" style="float:none">   
                   
                    {% block contenu %}
                        
                    {% endblock %} 
                  
                    
                </div>
                </div>      
            
               
        {% endblock %}    
         <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-3.2.1.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    </body>
</html>