{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Gestion des utilisateurs {% endblock %}
       
{% block contenu %} <h1> Gestion des utilisateurs </h1> 

{% if form.valide is defined %} 
    {% if form.valide == true %}
       <h1 class="h3 mb-3 font-weight-normal">{{ form.message }}</h1>
       {% else %}  
       <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
    {% endif %}         
{% endif %}         
    
<div class="panel">
  <!-- Default panel contents -->
  <div class="panel-heading background-violet">Liste des utilisateurs</div>

  <!-- Table -->
  <div class="table-responsive">
  <table class="table table-hover table-striped">
      <tr><th>Email</th><th>Nom</th><th>Prénom</th><th>Rôle</th><th></th><th></th></tr>
   {% for u in liste %}
          <tr><td>{{u.email}}</td><td>{{u.nom}}</td><td>{{u.prenom}}</td><td>{{u.libellerole}}</td><td> <div class="btn-group btn-group-lg"><a href="index.php?page=utilisateurmodif&id={{u.email}}"><span class="glyphicon glyphicon-pencil violet" aria-hidden="true"></span></a></div></td><td><div class="btn-group btn-group-lg"><a href="index.php?page=utilisateur&id={{u.email}}"><span class="glyphicon glyphicon-trash violet" aria-hidden="true"></span></a></div></td></tr> 
   {% endfor %}    
  </table>
  </div>
</div>

{% endblock %} 

